@use "./reset";

@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap';

$dark-900: #000;
$dark-800: #111;
$dark-700: #333;
$dark-600: #555;
$dark-500: #777;
$dark-400: #999;
$dark-300: #aaa;
$dark-200: #ccc;
$dark-100: #f0f0f0;

$white: #fff;
$gray: gray;

$lightGray-100: #797979;
$lightGray-200: #898989;
$lightGray-300: #999999;
$lightGray-400: #a9a9a9;
$lightGray-500: #b9b9b9;
$lightGray-600: #c9c9c9;
$lightGray-700: #d9d9d9;
$lightGray-800: #e9e9e9;
$lightGray-900: #f9f9f9;

$redAlertPrimary: darksalmon;
$redAlertSecondary: salmon;

$greenAlertPrimary: cadetblue;
$greenAlertSecondary: darkcyan;

$primaryColor: #2c4b47;
$secondaryColor: #4c6c68;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;

    transition: all 0.1s ease;
}

html,
body {
    overflow-x: hidden;

    width: 100%;
    min-height: 100vh;
}

body {
    font-family: Poppins, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
    font-size: min(4vw, 1.2em);
    color: $dark-700;
    background-color: $white;

    #app {
        /*display: grid;
        grid-template-rows: auto 1fr auto;*/

        width: 100%;
        max-width: 1024px;
        margin-inline: auto;
        padding-inline: 1em;
    }
}

a {
    color: $primaryColor;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
p {
    a {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 1em;

    margin-top: 1em;

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5em;

        color: $gray;
        height: 48px;
    }

    .title {
        color: $gray;
        font-weight: 100;
        font-size: xx-large;
    }
}

main {
    min-height: 80vh;
}

footer {
    position: sticky;
    bottom: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;

    padding-top: 1em;
    padding-bottom: 2em;

    text-align: center;
    font-weight: 200;
    font-size: clamp(0.7vmin, 1em, 0.65em);
    border-top: 1px solid $lightGray-800;

    a {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

.page {
    padding-inline: 0em;
    margin-bottom: 5em;

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 2em;

        margin-top: 2em;

        &.reverse {
            .colLeft {
                order: 2;
            }

            .colRight {
                order: 1;
            }
        }
    }

    .colLeft {
        display: block;

        &.mobileHide {
            display: none;

            @media screen and (min-width: 800px) {
                display: block;
            }
        }

        &.shrink {
            flex-shrink: 1;

            .formRow {
                max-width: initial;
            }
        }

        &.grow {
            flex-grow: 1;

            .formRow {
                max-width: initial;
            }
        }

        margin-block: 5vmin;
        margin-inline: auto;

        color: $primaryColor;
        opacity: 0.1;
    }

    .colRight {
        display: block;

        &.mobileHide {
            display: none;
        }

        &.shrink {
            flex-shrink: 1;

            .formRow {
                max-width: initial;
            }
        }

        &.grow {
            flex-grow: 1;

            .formRow {
                max-width: initial;
            }
        }
    }

    h2 {
        color: $primaryColor;

        &.breadcrumb {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            gap: 0.5em;

            .icon {
                cursor: pointer;
                height: 1.2em;
            }
        }
    }

    h3 {
        margin-bottom: 2em;
    }

    h4 {
        margin-top: 0;
        margin-bottom: 1em;
    }
}

.spinner {
    color: $primaryColor;

    text-align: center;
    margin-inline: auto;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;

    background-color: rgba(0, 0, 0, 0.1);
}

.error {
    margin-top: 5em;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 1em;

    p {
        text-align: center;
    }

    .errorLogo {
        color: $redAlertPrimary;
    }

    .errorCode {
        font-size: 5em;
        font-weight: 900;
        color: $redAlertPrimary;
    }

    .errorMessage {
        color: $dark-600;
    }
}

.light {
    color: $primaryColor;
    opacity: 0.2;
}

form {
    width: 100%;
    min-width: 200px;
    max-width: 400px;
    margin-inline: auto;

    background-color: $lightGray-900;
    border-radius: 8px;

    &.multiCol {
        max-width: 100%;
    }

    &.lg {
        max-width: 600px;
    }
}

.formBox {
    margin-top: 5vmin;
    margin-inline: auto;
    width: 100%;

    display: flex;
    flex-direction: column;

    &.center {
        align-items: center;
    }

    &.noMargin {
        margin-top: 0;
    }

    .formRow {
        width: 100%;
        max-width: 100%;

        padding-block: 1em;
        padding-inline: 2em;
        margin-block: 1em;

        display: flex;
        flex-direction: column;
        gap: 0.5em;

        &.noPadding {
            padding-inline: 0;
            max-width: 100%;
            margin-block: 0;
        }

        &.hzs,
        &.hze {
            flex-direction: row;

            align-items: center;
        }

        &.hzs {
            justify-content: start;
        }

        &.hze {
            justify-content: end;
        }
    }

    .formCol {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2em;

        padding-inline: 2em;

        &.reverse {
            flex-wrap: wrap-reverse;
        }

        & > * {
            gap: 0;
            width: 100%;

            @media only screen and (min-width: 800px) {
                width: calc(50% - 1em);
                gap: 0em;
            }
        }

        @media only screen and (max-width: 799px) {
            gap: 0;
        }

        .colSeparator {
            height: 100%;
            width: 1;
            margin-inline: 0.5em;

            background-color: $lightGray-800;
        }

        .formRow {
            padding-inline: 0;
        }
    }

    .formSeparator {
        width: 100%;
        height: 1;
        margin-block: 0.5em;

        background-color: $lightGray-800;
    }
}

.profileForm {
    position: relative;

    .avatar {
        position: absolute;

        top: 9.5em;
        left: 5em;

        width: 55vw;
        max-width: 280px;

        border-radius: 100vw;
        opacity: 0.1;

        @media screen and (max-width: 800px) {
            top: 8em;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

label {
    color: $dark-600;
    font-size: smaller;
}

input:not([type="button"]):not([type="submit"]),
textarea {
    background-color: transparent;
    color: $dark-900;
    font-size: normal;
    border: 0;
    cursor: default;

    &:not(:read-only) {
        border-bottom: 1px solid $dark-200;
        cursor: initial;
    }

    padding: 0.25em 0em;

    &:focus,
    &:active {
        border-bottom-color: $dark-900;
    }

    &::placeholder {
        font-weight: 100;
        font-size: smaller;
    }
}

textarea {
    resize: vertical;
    overflow: hidden;
}

input[type="button"],
input[type="submit"],
input[type="cancel"] {
    background-color: $lightGray-900;
    color: $dark-700;
    border: 0;
    border-radius: 8px;
    font-size: smaller;

    padding: 0.7em 2em;
    width: auto;

    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

input[type="button"]:hover {
    background-color: $lightGray-800;
    color: $dark-900;
}

input[type="submit"] {
    background-color: $primaryColor;
    color: $white;
}

input[type="submit"]:hover {
    background-color: $secondaryColor;
}

input[type="cancel"] {
    background-color: $redAlertPrimary;
    color: $white;
}

input[type="cancel"]:hover {
    background-color: $redAlertSecondary;
}

input[type="button"]:disabled,
input[type="submit"]:disabled,
input[type="cancel"]:disabled {
    background-color: $lightGray-900;
    color: $dark-300;

    pointer-events: none;
}

button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.5em;
    justify-content: flex-start;
    align-items: center;

    width: auto;
    height: 2.6em;
    padding: 0.5em;

    cursor: pointer;
    border-radius: 8px;
    background-color: $lightGray-900;
    border: 1px solid $lightGray-800;
    color: $secondaryColor;

    span {
        font-size: smaller;
    }

    &:not(:disabled):hover {
        border: 1px solid $secondaryColor;
    }

    &:not(:disabled).alert {
        color: $redAlertSecondary;

        &:not(:disabled):hover {
            border: 1px solid $redAlertSecondary;
        }
    }

    &:not(:disabled).important {
        color: $greenAlertSecondary;

        &:not(:disabled):hover {
            border: 1px solid $greenAlertSecondary;
        }
    }

    &:disabled {
        color: $lightGray-600;
        background-color: $white;

        pointer-events: none;
    }
}

.errorBox {
    position: relative;
    display: block;
    padding: 1em;
    margin-top: 1em;

    border: 0;
    border-radius: 8px;
    background-color: transparentize($redAlertPrimary, 0.9);
    font-size: small;

    .errorCode {
        position: absolute;

        top: -6px;
        right: 5px;

        color: $white;
        font-size: 3em;
        font-weight: 700;
    }

    .errorMessage {
        color: $redAlertSecondary;
    }
}

.inputBox,
textarea {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    & > input[type="text"],
    & > textarea {
        padding-right: 2em;
        width: 100%;
    }

    .textClear {
        position: absolute;
        margin-top: 1px;

        right: 0;
        top: 0.4em;
        cursor: pointer;
        color: inherit;

        &:hover {
            color: $dark-300;
        }
    }

    &.multiline {
        textarea {
            overflow: auto;
        }

        .textClear {
            right: 1.5em;
        }
    }

    .inputValidator {
        position: absolute;
        margin-top: 1em;

        bottom: -1.5em;

        color: $primaryColor;
        font-size: small;

        &.valid {
            color: $greenAlertPrimary;
        }
        &.invalid {
            color: $redAlertPrimary;
        }
    }
}

.passwordBox {
    position: relative;

    & > input[type="text"],
    & > input[type="password"] {
        padding-right: 2em;
        width: 100%;
    }

    .passwordRevelator {
        position: absolute;
        margin-top: 1px;

        right: 0;
        top: 0.4em;
        cursor: pointer;
        color: inherit;
    }

    & > input.revealed ~ .passwordRevelator {
        color: $dark-300;
    }

    .passwordRules {
        margin-top: 1em;
        padding: 1em;

        color: $dark-600;
        background-color: $lightGray-900;
        border: 0;
        border-radius: 8px;
        font-size: small;

        li {
            list-style: none;

            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: start;

            .bullet {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: center;

                margin-right: 0.5em;

                color: $dark-200;
            }
        }
    }

    .inputValidator {
        position: absolute;
        margin-top: 1em;

        bottom: -1.5em;

        color: $primaryColor;
        font-size: small;

        &.valid {
            color: $greenAlertPrimary;
        }
        &.invalid {
            color: $redAlertPrimary;
        }
    }
}

.switchBox {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;

    &.disabled {
        pointer-events: none;

        .switch {
            input:checked {
                & + span {
                    background: transparentize($primaryColor, 0.5);
                }
            }
        }
    }

    .switch {
        display: inline-block;
        position: relative;
        width: 30px;
        height: 16px;

        cursor: pointer;
        overflow: hidden;

        input {
            position: absolute;
            top: -30px;
            left: -30px;
            width: 0;
            height: 0;

            & + span {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;

                background: $lightGray-800;
                border-radius: 20px;
            }

            & + span:before {
                content: "";
                display: inline-block;
                position: absolute;
                top: 50%;
                left: 2px;
                width: 12px;
                height: 12px;

                background: $white;
                border-radius: 50%;

                transform: translateY(-50%);
                transition: all .1s;
            }
        }

        input:checked {
            & + span {
                background: $primaryColor;
            }
            & + span:before {
                left: 15px;
            }
        }
    }

    & > span {
        display: block;
        width: auto;

        color: $dark-600;
        font-size: smaller;
    }
}

.resetPassword {
    font-size: smaller;
    margin-block: 0.5rem;
    text-align: right;
}

.userIcon {
    position: relative;

    color: $dark-700;
    background-color: transparent;
    font-size: smaller;

    cursor: default;

    & > .userIconButton {
        width: 80px;
        height: 48px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        gap: 0.5em;

        z-index: 100;
        cursor: pointer;
        border-radius: 8px;

        & > .userChevron {
            margin-top: 6px;
        }

        & > img {
            width: 36px;
            height: 36px;

            border: 0;
            border-radius: 100%;
        }
    }

    & > .userMenu {
        position: absolute;

        right: 0;
        top: 48px;
        min-width: 250px;
        max-width: 90vw;
        min-height: 48px;
        padding-top: 1.1rem;

        transform: scaleY(0);
        transform-origin: top;

        display: flex;
        flex-direction: column;

        background-color: $lightGray-900;
        border-radius: 8px;
        border: 1px solid $lightGray-800;
        box-shadow: 0 0 5px $lightGray-700;
        overflow-wrap: anywhere;
        line-height: 1;

        z-index: 99;

        &.opened {
            transform: scaleY(1);
        }

        .userMenuName {
            padding-inline: 1em;
            margin-bottom: 1em;

            font-weight: 200;
            text-align: left;
        }

        .userMenuExpires {
            padding: 1em;

            font-size: x-small;
            font-weight: 200;
        }

        .userMenuItem {
            padding: 1em;

            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            gap: 0.5em;

            color: $primaryColor;
            cursor: pointer;

            & > span {
                margin-top: 0.15em;
            }

            &.bdr {
                border-top: 1px solid $lightGray-800;
            }

            &:hover {
                color: $secondaryColor;
            }
        }
    }
}

.mainMenu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20vmin, 1fr));
    grid-gap: 1em;
    justify-content: center;

    .mainMenuItem {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        gap: 1em;

        padding: 1em;

        border: 1px solid $lightGray-800;
        border-radius: 8px;

        background-color: $white;
        color: $dark-500;

        cursor: pointer;

        .mainMenuItemIcon {
            display: flex;
            justify-content: center;
            align-items: center;

            color: $lightGray-700;
        }

        h3 {
            padding: 0;
            margin: 0;

            font-weight: 300;
            font-size: smaller;
            line-height: 1;

            text-align: center;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        &:hover,
        &.active {
            border-color: $primaryColor;
            color: $primaryColor;

            .mainMenuItemIcon {
                color: $secondaryColor;
            }
        }
        &.active {
            border-color: $secondaryColor;
            background-color: $lightGray-900;
            pointer-events: none;
        }

        &.disabled {
            pointer-events: none;

            color: $lightGray-700;

            .mainMenuItemIcon {
                color: $lightGray-900;
            }
        }
    }
}

.infoLine {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 2em;

    padding-block: 1em;
    margin-top: 2em;
    margin-bottom: 3em;
    margin-inline: 1em;

    border-top: 1px solid $lightGray-800;
    border-bottom: 1px solid $lightGray-800;

    &.closable {
        position: relative;
        padding-right: 2em;

        .closer {
            position: absolute;
            top: 1em;
            right: 0.5em;

            font-size: smaller;
            color: $lightGray-500;
            cursor: pointer;

            &:hover {
                color: $redAlertPrimary;
            }
        }
    }

    .infoLineIcon {
        flex-shrink: 1;
        max-width: 3rem;
        max-height: 3rem;
        margin-top: 5px;

        color: $redAlertPrimary;
    }

    .infoLineText {
        flex-grow: 1;
    }
}

.tabItem {
    position: relative;

    margin-top: 3em;
    margin-bottom: 4em;

    .tabItemPanel {
        .tabItemTitle {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: baseline;
            justify-content: space-between;

            margin-top: 0em;
            margin-bottom: 0em;

            .tabItemTitleDetails {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-items: center;
                gap: 0.5em;

                cursor: pointer;
                line-height: 1;

                .tabItemTitleChevron {
                    color: $secondaryColor;
                }

                h3 {
                    margin-bottom: 1.1em;

                    .closedTitle {
                        margin-left: 1em;

                        font-weight: 100;
                        font-size: smaller;
                    }
                }
            }
        }

        .tabItemContent {
            transform-origin: top;

            margin-bottom: 2em;

            &.opened {
                transform: scaleY(1);
                height: auto;
            }

            &.closed {
                transform: scaleY(0);
                height: 0;
                margin-bottom: 0;
            }
        }
    }
}

.blink {
    animation: blinker 1s linear infinite;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}
